<div>
  <%= form_for @rate do |f| %>
    <%= f.hidden_field :vote, value: key %>
    <%= f.hidden_field :movie_id, value: @movie.id %>
    <%= f.hidden_field :user_id, value:  current_user.id %>
    <%= f.submit t("rates.#{key}"), class: "fa fa-star" %>
  <% end %>
</div>
